<h2>All posts</h2>
<pre><%= @posts.inspect %></pre>

<h2>All comments</h2>
<pre><%= @comments.inspect %></pre>

<h2>All users</h2>
<pre><%= @comments.inspect %></pre>

<h2>All public activities</h2>
<pre><%= @public_activities.inspect %></pre>
