<!DOCTYPE html>
<html>
<head>
  <title>ChooChoo</title>
  <%= stylesheet_link_tag    "choo_choo/application", media: "all" %>
  <%= javascript_include_tag "choo_choo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
